<!-- footer.html -->
<footer class="site-footer">
  <div class="footer-content">
    <p>
      Do you have a product you want to visualize?  
      I help you bring out exactly what you desire.  
      I create product images, environment renders, films, and animations  
      so you can present your product at its best.
    </p>

    <img src="../assets/img/logo-01.jpg" alt="Pure Art Logo">

    <!-- Dynamic copyright -->
    <p class="copyright">© 2011–<span id="year"></span> Pure Art</p>
  </div>
</footer>
